.option-button {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .submit-button {
    float: right;
    margin-top: 20px; 
    margin-left: 10px;
  }
  
  .hint-clarification {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px; 
    height: 180px; 
    perspective: 1000px; 
    border: 1px solid #ddd; 
    margin-bottom: 10px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card-front,
  .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  }
  
  .flip-card-front {
  background-color: #faedcb;
  color: black;
  }
  
  .flip-card-back {
  background-color: #d1cfe2;
  color: black;
  transform: rotateY(180deg);
  }

  
  .flipped .flip-card-inner {
  transform: rotateY(180deg);
  }
  
 
  .option-button.info {
    background-color: #d0e0fc; 
    border-color: #007bff; 
    color: #007bff;
  }

  
  .option-button.correct {
    background-color: green;
  }

  