header {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Garamond', sans-serif;
    background-color: #f5f5f5; /* Light grey background for the entire page */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
  }

.navbar-logo {
    margin-right: 20px; /* Adjust as needed */
}

.navbar-title {
    text-align: left;
}

.quiz-card {
    max-width: 600px; 
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }